/*FONTS*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,700,800,900&display=swap");
/*VARIABLES*/
/*EXTENDS*/
.flex-column, .jumbotron, .jumbotron .header, .about-us, .about-us .header, .services, .services .header, .services .container .box, .services .container .box .wrapper { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; }

.button, .jumbotron .get-in-touch, .about-us .container .content .learn-more { padding: 20px 0; width: 250px; border-radius: 35px; border: none; background-color: #b88b58; color: #fff; font-family: 'Montserrat', sans-serif; font-size: 1em; text-transform: uppercase; font-weight: bold; cursor: pointer; }

/*OTHER*/
body { margin: 0; font-family: 'Montserrat', sans-serif; }

/*SECTION NAVIGATION*/
.navigation { background-color: #000; height: 90px; color: #fff; }

.navigation .nav-header { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; }

.navigation .nav-header .nav { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; height: 90px; }

.navigation .nav-header .nav .logo { margin-right: 120px; cursor: pointer; }

.navigation .nav-header .nav > ul { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; list-style-type: none; height: 90px; }

.navigation .nav-header .nav > ul > li { text-transform: uppercase; padding: 0 15px; cursor: pointer; height: 82px; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; border-bottom: 8px solid transparent; }

.navigation .nav-header .nav > ul > li > a { font-weight: bold; }

.navigation .nav-header .nav > ul > li:hover { border-bottom: 8px solid #b88b58; }

/*SECTION JUMBOTRON*/
.jumbotron { position: relative; background-image: url("https://zapodaj.net/images/9219981769a1b.png"); background-size: cover; height: 80vh; }

.jumbotron .header { text-transform: uppercase; position: relative; }

.jumbotron .header .title { font-size: 4em; margin-bottom: 0; color: #b88b58; }

.jumbotron .header .title::before { content: 'Design is about'; position: absolute; top: -15px; color: #fff; }

.jumbotron .header .text { font-size: 1.5em; margin-top: 15px; font-weight: bold; color: #fff; }

.jumbotron .get-in-touch { margin-top: 25px; }

.jumbotron .get-in-touch:hover { background-color: #ca8f4d; }

.jumbotron .cell-phone { width: 80px; height: 80px; border-radius: 50%; background-color: #b88b58; box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.08); position: absolute; bottom: -40px; right: 5%; }

/*SECTION ABOUT US */
.about-us { margin-bottom: 55px; }

.about-us .header { text-transform: uppercase; margin-top: 35px; }

.about-us .header .title { font-size: 2em; margin-bottom: 0px; }

.about-us .header .text { margin-top: 10px; font-weight: bold; color: #aeaeae; }

.about-us .container { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; margin-top: 35px; }

.about-us .container .content { padding: 0 55px; width: 40%; }

.about-us .container .content .description { line-height: 25px; font-size: 1.1em; }

.about-us .container .content .learn-more { margin-top: 10px; }

.about-us .container .content .learn-more:hover { background-color: #ca8f4d; }

/*SECTION SERVICES*/
.services { background-color: #000; }

.services .header { text-transform: uppercase; margin-top: 35px; color: #fff; }

.services .header .title { font-size: 2em; margin-bottom: 0px; }

.services .header .text { margin-top: 10px; font-weight: bold; }

.services .container { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; width: 80%; }

.services .container .box { border-left: 1px solid #383838; width: 22%; padding: 25px; color: #fff; margin: 55px 0; }

.services .container .box:last-child { border-right: 1px solid #383838; }

.services .container .box .wrapper { text-align: center; width: 60%; }

.services .container .box .wrapper .service-name { margin-top: 35px; margin-bottom: 0px; line-height: 30px; }

.services .container .box .description { color: #aeaeae; line-height: 25px; }
