/*FONTS*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,700,800,900&display=swap");
/*VARIABLES*/
/*EXTENDS*/
.flex-column, .jumbotron, .jumbotron .header, .about-us, .about-us .header, .services, .services .header, .services .container .box, .services .container .box .wrapper, .our-projects, .our-projects .header, .our-projects .photos-container .photo .layer, .our-team, .our-team .header, .our-team .container .worker, .happy-clients, .happy-clients .client, .price, .price .container .box, .offert-plan, .offert-plan .container, .some-facts, .some-facts .container .box, .contact-us, .contact-us .contact-form, .contact-info .info-container, .footer .send-email {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.button, .jumbotron .get-in-touch, .about-us .container .content .learn-more, .our-projects .more-projects, .price .container .box .choose, .offert-plan .get-in-touch, .contact-us .contact-form .send-message, .footer .send-email .subscribe {
  padding: 20px 0;
  width: 250px;
  border-radius: 35px;
  border: none;
  background-color: #b88b58;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.button:hover, .jumbotron .get-in-touch:hover, .about-us .container .content .learn-more:hover, .our-projects .more-projects:hover, .price .container .box .choose:hover, .offert-plan .get-in-touch:hover, .contact-us .contact-form .send-message:hover, .footer .send-email .subscribe:hover {
  background-color: #aeaeae;
}

.social-ico, .tell-about-us-ico, .tell-about-us .social-media .icon-twitter::before, .tell-about-us .social-media .icon-linkedin::before, .tell-about-us .social-media .icon-facebook::before, .tell-about-us .social-media .icon-gplus::before, .tell-about-us .social-media .icon-pinterest::before, .our-team .container .worker .social-container .social, .contact-info .info-container .info-ico::before, .footer .wrapper .social-container .social {
  border-radius: 50%;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  cursor: pointer;
}

.tell-about-us-ico, .tell-about-us .social-media .icon-twitter::before, .tell-about-us .social-media .icon-linkedin::before, .tell-about-us .social-media .icon-facebook::before, .tell-about-us .social-media .icon-gplus::before, .tell-about-us .social-media .icon-pinterest::before {
  padding: 10px;
  margin-right: 10px;
}

.tell-about-us-ico:hover, .tell-about-us .social-media .icon-twitter:hover::before, .tell-about-us .social-media .icon-linkedin:hover::before, .tell-about-us .social-media .icon-facebook:hover::before, .tell-about-us .social-media .icon-gplus:hover::before, .tell-about-us .social-media .icon-pinterest:hover::before {
  background-color: #b88b58;
}

.input, .contact-us .contact-form .wrapper .name, .contact-us .contact-form .wrapper .email, .contact-us .contact-form .subject, .contact-us .contact-form .message, .footer .send-email .email {
  padding: 15px 0;
  border: none;
  border-bottom: 1.5px solid #aeaeae;
  outline: none;
  font-size: 1.2em;
  font-weight: bold;
}

.circle-button, .jumbotron .cell-phone, .contact-info .arrow-up {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #b88b58;
  box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.08);
  position: absolute;
  color: #fff;
  font-size: 2.5em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  cursor: pointer;
}

.circle-button:hover, .jumbotron .cell-phone:hover, .contact-info .arrow-up:hover {
  background-color: #aeaeae;
}

/*OTHER*/
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/*SECTION NAVIGATION*/
.navigation {
  background-color: #000;
  height: 90px;
  color: #fff;
}

.navigation .nav-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.navigation .nav-header .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 90px;
  width: 100%;
  padding-left: 15px;
}

.navigation .nav-header .nav .logo {
  cursor: pointer;
  margin-right: 7%;
}

.navigation .nav-header .nav > ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  list-style-type: none;
  padding-left: 0;
  height: 90px;
}

.navigation .nav-header .nav > ul > li {
  text-transform: uppercase;
  padding: 0 10px;
  cursor: pointer;
  height: 82px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  border-bottom: 8px solid transparent;
}

.navigation .nav-header .nav > ul > li > a {
  font-weight: bold;
  font-size: 1em;
}

.navigation .nav-header .nav > ul > li:hover {
  border-bottom: 8px solid #b88b58;
}

/*SECTION JUMBOTRON*/
.jumbotron {
  position: relative;
  background-image: url("https://zapodaj.net/images/9219981769a1b.png");
  background-size: cover;
  height: 80vh;
}

.jumbotron .header {
  text-transform: uppercase;
  position: relative;
}

.jumbotron .header .title {
  font-size: 4em;
  margin-bottom: 0;
  color: #b88b58;
}

.jumbotron .header .title::before {
  content: 'Design is about';
  position: absolute;
  top: -15px;
  color: #fff;
}

.jumbotron .header .text {
  font-size: 1.5em;
  margin-top: 15px;
  font-weight: bold;
  color: #fff;
}

.jumbotron .get-in-touch {
  margin-top: 25px;
}

.jumbotron .cell-phone {
  bottom: -40px;
  right: 5%;
}

/*SECTION ABOUT US */
.about-us {
  margin-bottom: 55px;
}

.about-us .header {
  text-transform: uppercase;
  margin-top: 35px;
}

.about-us .header .title {
  font-size: 2em;
  margin-bottom: 0px;
}

.about-us .header .text {
  margin-top: 10px;
  font-weight: bold;
  color: #aeaeae;
}

.about-us .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 35px;
}

.about-us .container .content {
  padding: 0 55px;
  width: 40%;
}

.about-us .container .content .description {
  line-height: 25px;
  font-size: 1.1em;
}

.about-us .container .content .learn-more {
  margin-top: 10px;
}

/*SECTION SERVICES*/
.services {
  background-color: #000;
}

.services .header {
  text-transform: uppercase;
  margin-top: 35px;
  color: #fff;
}

.services .header .title {
  font-size: 2em;
  margin-bottom: 0px;
}

.services .header .text {
  margin-top: 10px;
  font-weight: bold;
}

.services .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  width: 80%;
}

.services .container .box {
  border-left: 1px solid #383838;
  width: 22%;
  padding: 25px;
  color: #fff;
  margin: 55px 0;
}

.services .container .box:last-child {
  border-right: 1px solid #383838;
}

.services .container .box .wrapper {
  text-align: center;
  width: 60%;
}

.services .container .box .wrapper .service-name {
  margin-top: 35px;
  margin-bottom: 0px;
  line-height: 30px;
}

.services .container .box .description {
  color: #aeaeae;
  line-height: 25px;
  text-align: center;
}

/*SECTION OUR PROJECTS*/
.our-projects .header {
  margin-top: 35px;
}

.our-projects .header .title {
  font-size: 2em;
  margin-bottom: 0px;
}

.our-projects .header .text {
  margin-top: 10px;
  font-weight: bold;
  color: #aeaeae;
}

.our-projects .project-dropdown {
  display: none;
}

.our-projects .projects-categories {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  list-style-type: none;
  background-color: #ededed;
  border: 1px solid #cfcfcf;
  padding: 0 45px;
  border-radius: 50px;
  height: 70px;
}

.our-projects .projects-categories > li {
  text-transform: uppercase;
  padding: 0 5px;
  cursor: pointer;
  height: 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  border-right: 1px solid #cfcfcf;
}

.our-projects .projects-categories > li:last-child {
  border-right: none;
}

.our-projects .projects-categories > li > a {
  line-height: 60px;
  height: 100%;
  padding: 0 25px;
  border-bottom: 8px solid transparent;
}

.our-projects .projects-categories > li > a:hover {
  border-bottom: 8px solid #b88b58;
}

.our-projects .photos-container {
  width: 80%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.our-projects .photos-container .photo {
  position: relative;
  width: 23%;
  margin-top: 35px;
  cursor: pointer;
}

.our-projects .photos-container .photo:hover .layer {
  display: -ms-flexbox;
  display: flex;
}

.our-projects .photos-container .photo .layer {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
}

.our-projects .photos-container .photo .layer .description {
  padding: 0 25px;
}

.our-projects .photos-container .photo > img {
  width: 100%;
  height: 100%;
}

.our-projects .more-projects {
  margin: 35px 0;
}

/*SECTION OUR TEAM*/
.our-team {
  background-image: url("https://zapodaj.net/images/081768e5bbcc4.png");
  background-size: cover;
  background-position: center;
}

.our-team .header {
  margin-top: 35px;
  margin-bottom: 35px;
  color: #fff;
}

.our-team .header .title {
  font-size: 2em;
  margin-bottom: 0px;
}

.our-team .header .text {
  margin-top: 10px;
  font-weight: bold;
}

.our-team .container {
  width: 80%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 35px;
}

.our-team .container .worker {
  width: 30%;
  margin: 0 10px;
  min-height: 400px;
  padding: 45px 0;
  background-color: #fff;
  margin-bottom: 45px;
}

.our-team .container .worker > img {
  border-radius: 50%;
  margin-bottom: 15px;
}

.our-team .container .worker .name {
  margin-bottom: 0;
}

.our-team .container .worker .position {
  margin-top: 5px;
}

.our-team .container .worker .social-container {
  width: 90%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 35px;
}

.our-team .container .worker .social-container .social {
  margin: 0 5px;
  width: 40px;
  min-width: 40px;
  height: 40px;
  font-size: 1.2em;
  background-color: #bebebe;
}

.our-team .container .worker .social-container .social:hover {
  background-color: #b88b58;
  transform: scale(1.2);
  transition-duration: 0.8s;
}

/*HAPPY CLIENTS SECTION*/
.happy-clients {
  background-color: #f7f7f7;
}

.happy-clients .header {
  margin-top: 35px;
  text-align: center;
  text-transform: uppercase;
}

.happy-clients .header .title {
  font-size: 2em;
  margin-bottom: 0px;
}

.happy-clients .header .text {
  margin-top: 10px;
  color: #aeaeae;
  font-weight: bold;
}

.happy-clients .client {
  width: 50%;
  margin-top: 55px;
}

.happy-clients .client > img {
  border-radius: 50%;
  margin-bottom: 15px;
}

.happy-clients .client .name {
  margin-bottom: 0;
}

.happy-clients .client .position {
  margin-top: 5px;
  margin-bottom: 40px;
}

.happy-clients .client .quote {
  text-align: center;
  color: #aeaeae;
  position: relative;
  margin-top: 50px;
  margin-bottom: 75px;
}

.happy-clients .client .quote::before {
  content: '\e804';
  font-family: 'fontello';
  transform: rotate(180deg);
  font-size: 3em;
  position: absolute;
  top: -65px;
  left: calc(50% - 20px);
}

/*SECTION CLIENT LOGOS */
.client-logos {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 30px 0;
}

.client-logos .container {
  width: 80%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.client-logos .container > img {
  margin: 20px 10px;
}

/*SECTION PRICE*/
.price {
  background-color: #ededed;
}

.price .header {
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;
  text-transform: uppercase;
}

.price .header .title {
  font-size: 2em;
  margin-bottom: 0px;
}

.price .header .text {
  margin-top: 10px;
  color: #aeaeae;
  font-weight: bold;
}

.price .container {
  width: 95%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.price .container .box {
  background-color: #fff;
  padding: 10px 25px;
  margin-bottom: 45px;
  margin-right: 15px;
  margin-left: 15px;
}

.price .container .box .name {
  font-weight: 400;
  text-transform: uppercase;
}

.price .container .box .price-value {
  font-size: 2.5em;
  margin-top: 0;
  font-weight: bold;
  position: relative;
}

.price .container .box .price-value::before {
  content: '$';
  margin-right: 10px;
}

.price .container .box .price-value::after {
  content: '/month';
  text-transform: uppercase;
  font-size: 0.35em;
  font-weight: 400;
  color: #aeaeae;
  position: absolute;
  bottom: -17px;
  right: calc(50% - 2.5em);
}

.price .container .box .offert-details {
  text-align: center;
  padding-left: 0;
  margin-top: 0;
  list-style-type: none;
  color: #7e7e7e;
}

.price .container .box .offert-details > li {
  padding: 10px 0;
  position: relative;
}

.price .container .box .offert-details > li::after {
  content: '';
  width: 10px;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: -2px;
  left: calc(50% - 5px);
}

.price .container .box .offert-details > li:last-child::after {
  display: none;
}

.price .container .box .choose {
  background-color: #373737;
  margin-top: 20px;
  margin-bottom: 30px;
}

.price .container .box .choose:hover {
  background-color: #b88b58;
}

/*SECTION OFFERT PLAN*/
.offert-plan .header {
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;
  text-transform: uppercase;
}

.offert-plan .header .title {
  font-size: 2em;
  margin-bottom: 0px;
}

.offert-plan .header .text {
  margin-top: 10px;
  color: #aeaeae;
  font-weight: bold;
}

.offert-plan .container {
  width: 80%;
  padding: 0 25px;
  padding-bottom: 35px;
  border-bottom: 1px solid #bebebe;
  -ms-flex-direction: row;
      flex-direction: row;
}

.offert-plan .container .image {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  width: 50%;
}

.offert-plan .container .details {
  width: 50%;
}

.offert-plan .container .details .feature .name {
  margin-bottom: 0;
  position: relative;
}

.offert-plan .container .details .feature .name::before {
  content: '';
  width: 35px;
  height: 35px;
  position: absolute;
  left: -65px;
  background-image: url("../images/okay-logo.png");
  background-repeat: no-repeat;
  background-position: center;
}

.offert-plan .container .details .feature .description {
  margin-top: 5px;
  color: #aeaeae;
}

.offert-plan .container .details .feature .options {
  list-style-type: none;
}

.offert-plan .container .details .feature .options > li {
  position: relative;
  color: #aeaeae;
}

.offert-plan .container .details .feature .options > li::before {
  content: '';
  position: absolute;
  height: 1.5px;
  width: 17px;
  top: 50%;
  left: -22px;
  background-color: #aeaeae;
}

.offert-plan .get-in-touch {
  margin: 45px 0;
}

/*SECTION SOME FACTS*/
.some-facts {
  background-color: #000;
  color: #fff;
}

.some-facts .header {
  margin-top: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.some-facts .header .title {
  font-size: 2em;
  margin-bottom: 0px;
}

.some-facts .header .text {
  margin-top: 10px;
  font-weight: bold;
}

.some-facts .container {
  width: 80%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 55px;
}

.some-facts .container .box {
  text-align: center;
  width: 20%;
}

.some-facts .container .box .number {
  font-size: 3.5em;
  font-weight: bold;
  position: relative;
  color: #b88b58;
  margin-bottom: 15px;
}

.some-facts .container .box .number:after {
  content: '';
  width: 30px;
  height: 2px;
  bottom: -15px;
  right: calc(50% - 15px);
  position: absolute;
  background-color: #b88b58;
}

.some-facts .container .box .category {
  font-size: 1.5em;
  height: 60px;
}

.some-facts .container .box .description {
  margin-top: 0;
}

/*SECTION TELL ABOUT US*/
.tell-about-us {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  border-bottom: 1px solid #aeaeae;
}

.tell-about-us .social-media {
  width: 80%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.tell-about-us .social-media .social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-weight: bold;
  color: #aeaeae;
  padding: 25px;
}

.tell-about-us .social-media .icon-share {
  font-size: 1.2em;
}

.tell-about-us .social-media .icon-share::before {
  margin-right: 10px;
  font-size: 1.7em;
}

.tell-about-us .social-media .icon-twitter::before {
  background-color: #33c5ef;
}

.tell-about-us .social-media .icon-linkedin::before {
  background-color: #117bb3;
}

.tell-about-us .social-media .icon-facebook::before {
  background-color: #336197;
}

.tell-about-us .social-media .icon-gplus::before {
  background-color: #e74137;
}

.tell-about-us .social-media .icon-pinterest::before {
  background-color: #b71b29;
}

/*SECTION CONTACT-US*/
.contact-us .header {
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;
  text-transform: uppercase;
}

.contact-us .header .title {
  font-size: 2em;
  margin-bottom: 0px;
}

.contact-us .header .text {
  margin-top: 10px;
  color: #aeaeae;
  font-weight: bold;
}

.contact-us .contact-form {
  width: 50%;
}

.contact-us .contact-form .wrapper {
  width: 90%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.contact-us .contact-form .wrapper .name {
  width: 45%;
}

.contact-us .contact-form .wrapper .email {
  width: 45%;
}

.contact-us .contact-form .subject {
  width: 90%;
  margin-top: 25px;
}

.contact-us .contact-form .message {
  width: 90%;
  margin-top: 65px;
}

.contact-us .contact-form .send-message {
  margin: 10% 0;
}

/*SECTION CONTACT-INFO*/
.contact-info {
  background-image: url("../images/map-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 5% 15%;
  position: relative;
}

.contact-info .info-container {
  width: 40%;
  background-color: #fff;
  -ms-flex-align: start;
      align-items: flex-start;
  padding: 25px;
  padding-right: 90px;
  border-radius: 3px;
}

.contact-info .info-container .info-ico {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #aeaeae;
  font-weight: bold;
  margin: 15px 0;
}

.contact-info .info-container .info-ico::before {
  background-color: #aeaeae;
  cursor: auto;
  padding: 7px;
  font-size: 1.2em;
  margin-right: 20px;
}

.contact-info .arrow-up {
  bottom: -40px;
  left: 5%;
}

/*SECTION FOOTER*/
.footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  background-color: #000;
  color: #fff;
  padding: 3% 0;
}

.footer .wrapper {
  width: 25%;
  padding: 0 15px;
  position: relative;
  margin: 0 15px;
}

.footer .wrapper .social-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  margin-top: 35px;
}

.footer .wrapper .social-container .social {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  font-size: 1.2em;
  background-color: #373737;
}

.footer .wrapper .social-container .social:hover {
  background-color: #b88b58;
  transition-duration: 0.8s;
}

.footer .wrapper .footer-text {
  position: absolute;
  bottom: 10px;
}

.footer .wrapper .information-text {
  color: #aeaeae;
}

.footer .send-email {
  border-radius: 3px;
  background-color: #373737;
}

.footer .send-email .email {
  background-color: transparent;
  color: #aeaeae;
  width: 75%;
  margin-bottom: 15px;
}

.footer .send-email .email:-ms-input-placeholder {
  text-align: center;
}

.footer .send-email .email::placeholder {
  text-align: center;
}

.footer .send-email .subscribe {
  margin-top: 20px;
}

@media (max-width: 1200px) {
  .navigation {
    min-height: 530px;
  }
  .navigation .nav-header .nav {
    -ms-flex-direction: column;
        flex-direction: column;
    height: auto;
  }
  .navigation .nav-header .nav .logo {
    padding-top: 25px;
    margin-right: 0;
  }
  .navigation .nav-header .nav > ul {
    display: block;
    width: 50%;
    height: auto;
  }
  .navigation .nav-header .nav > ul > li {
    border: 1px solid #aeaeae;
    border-radius: 3px;
    margin: 7px 0;
    height: 35px;
  }
  .navigation .nav-header .nav > ul > li:hover {
    border: none;
  }
  .services .container {
    width: 100%;
  }
  .services .container .box {
    margin: 0;
  }
  .services .container .box:first-child {
    margin-top: 15px;
  }
  .services .container .box:first-child .wrapper {
    width: auto;
  }
  .our-team {
    width: auto;
  }
  .our-team .container {
    padding: 0 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .our-team .container .worker {
    width: auto;
  }
  .offert-plan .container {
    width: auto;
  }
  .some-facts .container {
    width: auto;
    padding: 0 15px;
  }
  .some-facts .container .box {
    width: auto;
    padding: 0 10px;
  }
}

@media (max-width: 992px) {
  .services .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services .container .box {
    width: 40%;
    border: none;
  }
  .services .container .box:last-child {
    border: none;
  }
  .our-projects .photos-container {
    width: auto;
  }
  .happy-clients .client {
    width: auto;
  }
  .offert-plan .container {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}

@media (max-width: 776px) {
  .navigation .nav-header .nav {
    padding: 0 10px;
  }
  .navigation .nav-header .nav > ul {
    width: 100%;
  }
  .jumbotron .header .title {
    font-size: 2.0em;
  }
  .jumbotron .header .text {
    font-size: 1.1em;
  }
  .jumbotron .get-in-touch {
    margin-top: 10%;
  }
  .about-us .container {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    -ms-flex-align: center;
        align-items: center;
  }
  .about-us .container .video > img {
    width: 100%;
  }
  .about-us .container .content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    width: auto;
    text-align: center;
  }
  .services .container .box {
    width: 100%;
  }
  .our-projects .dropdown-wrapper {
    position: relative;
  }
  .our-projects .dropdown-wrapper .project-dropdown {
    background-color: #ededed;
    font-size: 1.3em;
    color: #b88b58;
    height: 50px;
    border-radius: 50px 50px 0 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    width: 187px;
  }
  .our-projects .dropdown-wrapper .project-dropdown::before {
    content: '\e803';
    font-family: fontello;
    margin-right: 10px;
    transform: rotate(180deg);
  }
  .our-projects .dropdown-wrapper .projects-categories {
    position: absolute;
    display: none;
    border: none;
    height: auto;
    padding: 0;
    z-index: 5;
    margin-top: 0;
    border-radius: 0 0 50px 50px;
  }
  .our-projects .dropdown-wrapper .projects-categories.show {
    display: block;
  }
  .our-projects .dropdown-wrapper .projects-categories > li {
    max-width: 187px;
    border-right: none;
    border-bottom: #cfcfcf;
  }
  .our-projects .dropdown-wrapper .projects-categories > li > a:hover {
    border-bottom: 8px solid transparent;
  }
  .our-projects .photos-container .photo {
    width: 48%;
  }
  .our-projects .photos-container .photo .layer {
    font-size: 0.9em;
  }
  .our-projects .photos-container .photo .layer .title {
    font-size: 1.1em;
    margin: 0;
  }
  .our-projects .photos-container .photo .layer .description {
    font-size: 0.9em;
    margin: 0;
  }
  .some-facts .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .some-facts .container .box {
    padding: 0 35px;
  }
  .some-facts .container .box .category {
    height: auto;
    margin-bottom: 10px;
  }
  .tell-about-us .social-media {
    width: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 15px 0;
  }
  .tell-about-us .social-media .social {
    width: 40%;
    -ms-flex-pack: center;
        justify-content: center;
    padding: 0;
    margin: 10px 15px;
  }
}
/*# sourceMappingURL=style.css.map */