/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,700,800,900&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/*SECTION NAVIGATION*/
.navigation {
  background-color: #000;
  height: 90px;
  color: #fff;
  
  .nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .nav {
      display: flex;
      align-items: center;
      height: 90px;
      
      .logo {
        margin-right: 120px;
        cursor: pointer;
      }
      
      >ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        height: 90px;
        
        >li {
          text-transform: uppercase;
          padding: 0 15px;
          cursor: pointer;
          height: 82px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-bottom: 8px solid transparent;
          
          >a {
            font-weight: bold;
          }
          
          &:hover {
            border-bottom: 8px solid #b88b58;
          }
        }        
      }
    }
  }
}

/*SECTION JUMBOTRON*/
.jumbotron {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('https://zapodaj.net/images/9219981769a1b.png');
  background-size: cover;
  height: 80vh;
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    position: relative;
    
    .title {
      font-size: 4em;
      margin-bottom: 0;
      color: #b88b58;
      
      &::before {
        content: 'Design is about';
        position: absolute;
        top: -15px;
        color: #fff;
      }
    }
    
    .text {
      font-size: 1.5em;
      margin-top: 15px;
      font-weight: bold;
      color: #fff;
    }
  }
  .get-in-touch {
    padding: 20px 0;
    width: 250px;
    border-radius: 35px;
    border: none;
    background-color: #b88b58;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    
    margin-top: 25px;
    
    &:hover {
      background-color: #ca8f4d;
    }
  }
  .cell-phone {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #b88b58;
    box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.08);
    position: absolute;
    bottom: -40px;
    right: 5%;
  }  
}

/*SECTION ABOUT US */
.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 55px;
  .header {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    
    .title {
      font-size: 2em;
      margin-bottom: 0px;
    }
    .text {
      margin-top: 10px;
      font-weight: bold;
      color: #aeaeae;
    }
  }
  .container {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    
    .content {
      padding: 0 55px;
      width: 40%;
      .description {
        line-height: 25px;
        font-size: 1.1em;
      }
      .learn-more {
        padding: 20px 0;
        width: 250px;
        border-radius: 35px;
        border: none;
        background-color: #b88b58;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        
        margin-top: 10px;
        
         &:hover {
          background-color: #ca8f4d;
        }
      }
    }
  }
}

/*SECTION SERVICES*/
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  .header {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    color: #fff;
    
    .title {
      font-size: 2em;
      margin-bottom: 0px;
    }
    .text {
      margin-top: 10px;
      font-weight: bold;
    }
  }
  .container {
    display: flex;
    justify-content: center;
    width: 80%;
    
    .box {
      border-left: 1px solid #383838;
      width: 22%;
      padding: 25px;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 55px 0;
      &:last-child {
        border-right: 1px solid #383838;
      }
      
      >img {
        
      }
      .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 60%;
        
        .service-name {
          margin-top: 35px;
          margin-bottom: 0px;
          line-height: 30px;
        } 
      }
      .description {
        color: #aeaeae;
        line-height: 25px;
      }
    }
  }
}